body {
    margin: 0px;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column
}


/* 사용자 배너 */
.profile_header {
    width: 100%;
    height: 200px;
    background-color: #f00;
    background-image: url('/static/img/test/sample_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

/* 유저 ID 링크 */
.user_data_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile_username_description {
    display: flex;
    flex-direction: column
}

.profile_description {
    font-size: 18px;
    color: #889098;
    margin: 15px 0px 20px 40px
}

.profile_username {
    font-size: 30px;
    font-weight: 700;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
}

.main_content_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/* 사용자 아이콘 */
.profile_icon_wrap {
    width: 144px;
    height: 144px;
    margin-top: -75px;
    margin-left: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.profile_icon {
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

/* 도네이션 wrap */
.donation_div_wrap {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}


/* 소개글 */


.information_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.information_title {
    font-weight: bold;
    margin-bottom: 10px;
}

.introduce {
    color: rgb(51, 51, 51);
    width: 80%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    margin-bottom: 50px;
}


.tag_wrap {
    margin-left: 40px;
    margin-bottom: 40px;
}
.tag_div {
    padding: 8px 20px 8px 20px;
    border: 1px solid #bbb;
    border-radius: 30px;
    font-size: 12px;
}