<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head') %>
    <title>Document</title>
    <style>
        body {
            margin: 0px;
            display: flex;
            justify-content: center;
            height: 90vh;
            align-items: center
        }
        .title {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>

<body style="padding-top: 60px;">
    <%- include('./header') %>
    <p class="title">404 - 정보를 찾을수 없습니다</p>
</body>
</html>