<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            justify-content: center;
        }

        p {
            background: linear-gradient(to top, #2ad065, #59ea88);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>

<body style="padding-top: 60px;">
    <% include ./header.ejs %>
        <p>404 - 정보를 찾을수 없습니다</p>
</body>

</html>