<style>
    @import url("/static/css/footer.css");
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
</style>

<div class="footer_container">
    <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/icon.png" width="50" height="50" alt="icon">
    <div class="fotter_top">
        <div class="fotter_top_1">
            <span class="fotter_domain">donate4creator.com</span>
            <div class="fotter_top_1_list">홈</div>
            <div class="fotter_top_1_list" onclick="location.replace(`${window.location.origin}/u/anojds`)">개발자 후원하기</div>
            <div class="fotter_top_1_list" onclick="location.replace('https://github.com/anojds/sendmoneycreator')">소스 코드</div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="country_wrap">
            <span class="footer_bottom_country">Born in Korea</span>
            <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/main/korea.png" width="30" height="30" style="margin-left: 10px;">
        </div>
    </div>
</div>