<style>
    @import url("/static/css/header.css");
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
</style>

<div class="header_container">
    <div class="header_left">
        <img src="/static/img/icon.png" class="service_icon" onclick="location.href='/'">
        <span class="title_list" onclick="location.href='/'">홈</span>
        <span class="title_list" onclick="location.href='/login'">FAQ</span>
    </div>
    <div class="header_right">
        <span class="title_list" style="font-weight: 300;margin: 0px;" onclick="location.href='/login'"
            id="login">로그인</span>
        <span class="title_list" style="font-weight: 300;margin: 0px 20px 0px 10px;" onclick="location.href='/signin'"
            id="signin">회원가입</span>
        <span id="myinfo" class="title_list" style="font-weight: 300;margin: 0px 20px 0px 10px;"
            onclick="location.href='/auth/logout'">내 정보</span>
        <span id="setting" class="title_list" style="font-weight: 300;margin: 0px 20px 0px 10px;"
            onclick="location.href='/auth/logout'">설정</span>
        <span id="logout" class="title_list" style="font-weight: 300;margin: 0px 20px 0px 10px;"
            onclick="location.href='/auth/logout'">로그아웃</span>
    </div>
</div>
<script>
    async function islogined() {
        let response = await fetch('/auth/islogined', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
        });
        let result = await response.json();

        if (result.isLogined === true) {
            document.getElementById('login').style.display = 'none';
            document.getElementById('signin').style.display = 'none';
        } else {
            document.getElementById('logout').style.display = 'none';
            document.getElementById('myinfo').style.display = 'none';
            document.getElementById('setting').style.display = 'none'
        }
    }
    islogined()
</script>