<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url("/static/css/login/style.css");
    </style>
</head>
<body>
    <div class="main">
        <div class="wrap">
            <p class="login_title">로그인</p>

            <span class="input_title">사용자명*</span>
            <input type="email" class="login_inputbox" placeholder="아이디를 입력해주세요">

            <span class="input_title">비밀번호*</span>
            <input type="password" class="login_inputbox" placeholder="비밀번호를 입력해주세요">

            <input type="button" value="로그인" class="login_button">
            <div class="register_wrap">
                <span class="register_text">아직 계정이 없으신가요?</span>
            </div>
        </div>
    </div>
    <div class="side_img_wrap">
        <img src="/static/img/login/phone.png" width="300" height="350" style="margin-top: 20px;">
        <p class="img_title">수수료 없는 후원 서비스</p>
        <span class="img_description">좋아하는 크리에이터에게<br>후원을 해보세요</span>
    </div>
</body>
</html>