<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head.ejs %>
    <title>donate4creator</title>
    <style>
        @import url("/static/css/login/mailverf.css");
    </style>
</head>
<body>
    <% include ./header.ejs %>
    <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/icon.png" class="service_icon" style="margin-top: 100px">
    <h4 class="title">donate4creator</h4>
    <h1>이메일 인증이 필요합니다.</h1>
    <h4>이메일 인증후 다시 로그인해주세요 (만약 메일이 안왔다면 스팸함에 메일이 있을수 있습니다.)</h4>
    <hr>
    <div class="wrap">
        <span>아이디 : </span>
        <span style="color: #1A73E8;font-weight:bold;"><%= id %></span>
    </div>
    <div class="wrap" style="margin-top: 10px;">
        <span>메일 : </span>
        <span style="color: #1A73E8;font-weight:bold;"><%= mail %></span>
    </div>
</body>
</html>