<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head') %>
    <title>donate4creator</title>
    <style>
        @import url("/static/css/login/mailverf.css");
        @import url("/static/css/login/mailMediaquery.css");
    </style>
</head>
<body>

    <%- include('./header') %>
    <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/icon.png" class="service_icon" style="margin-top: 100px">
    <h4 class="title">donate4creator</h4>
    <h1>이메일 인증이 완료되었습니다.</h1>
    <h4 id="time">5 초뒤에 메인 화면으로 리다이렉트 됩니다.</h4>
    <hr>
    <div class="wrap">
        <span>아이디 : </span>
        <span style="color: #1A73E8;font-weight:bold;"><%= id %></span>
    </div>
    <script>
        let cut = 5;
        setInterval(function(){ 
            cut-- === 0 ? location.href="/" : document.getElementById('time').innerText = cut + " 초뒤에 메인 화면으로 리다이렉트 됩니다.";
        }, 1000);
    </script>
</body>
</html>