<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head.ejs %>
    <title>donate4creator</title>
    <style>
        @import url("/static/css/main/style.css");
        @import url("/static/css/main/mediaquery.css");
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
    </style>
</head>
<body>
    <% include ./header.ejs %>
    <div class="wrap_1">
        <span style="font-size:13px;color: rgb(134, 134, 134);">현재 이사이트는 개발중에 있습니다 버그,서버 오류등이 생길수 있습니다</span>
        <div class="text_wrap">
            <span class="text_1">좋아하는 </span>
            <span class="text_2">크리에이터</span>
            <span class="text_1">에게 후원을 해보세요.</span>
        </div>
        <div class="link_wrap">
            <span class="link_1">donate4creator.com/u/</span>
            <span class="link_2">username</span>
            <input class="link_button" type="button" value="지금 시작하기">
        </div>
    </div>
    <div class="wrap_2">
        <span class="info_title">donate4creator 란?</span>
        <span class="info_span">카카오 송금 링크, 토스 송금 아이디 혹은 페이팔 아이디를 이용해<br>창작자에게 수수료 없이 후원하는 서비스입니다</span>
    </div>

    <div class="wrap_3">
        <span class="list_title">나만의 사이트에 후원 버튼을 달아보세요.</span>
        <span class="list_span">일일이 후원 링크를 귀찮게 다는 대신 코드 한줄로 내 팬들과 연결해보세요.</span>
        <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/main/1.png" width="35%">
    </div>

    <div class="wrap_4">
        <span class="list_title2">팬들에게 지원을 받으세요.</span>
        <span class="list_span2">나를 좋아하는 팬들에게 지원을 받아 나를 더 성장 시켜보세요.</span>
        <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/main/2.png" width="40%" style="margin-right: 50px;">
    </div>    
    
    <div class="wrap_5">
        <span class="list_title3">팬들에게 지원을 받으세요.</span>
        <span class="list_span3">나를 좋아하는 팬들에게 지원을 받아 나를 더 성장 시켜보세요.</span>
        <img src="https://cdn.jsdelivr.net/gh/anojds/sendmoneycreator/public/img/main/3.png" width="30%">
    </div>
    
    <% include ./footer.ejs %>
    <script type="text/javascript" src="/static/js/main_animation.js"></script>
</body>
</html>