/* 희망 금액 */
.desired_amount {
    margin: 30px 20px 30px 20px;
    display: flex;
    justify-content: space-between
}

.money_title {
    color: rgb(76, 76, 76)
}

.money_value {
    font-weight: 700;
}

/* qr div */
.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 카카오 */
.kakao_wrap {
    width: 350px;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #F4DC34;
    /* border: 1px solid rgba(0, 0, 0, 0.212); */
    box-shadow: 0px 1px 10px #f4de3486;
}

.kakao_title {
    padding: 15px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

/* 토스 */
.toss_wrap {
    width: 350px;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #005DF7;
    /* border: 1px solid rgba(0, 0, 0, 0.212); */
    box-shadow: 0px 1px 10px #005ffa89;
}

.toss_title {
    padding: 15px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
}

/* 페이팔 */
.paypal_wrap {
    width: 350px;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #27346A;
    /* border: 1px solid rgba(0, 0, 0, 0.212); */
    box-shadow: 0px 1px 10px #27346a89;
}

.paypal_title {
    padding: 15px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
}

/* 통합 */
.payment_top:hover {
    cursor: pointer;
}

.toss_wrap, .kakao_wrap, .paypal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.url_wrap {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.158);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.url_wrap:hover {
    cursor: pointer;
}

/* qr 창 토글 */
.bottom_icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    transform:rotate(-90deg)
}

.bottom_icon_top {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    transform:rotate(90deg)
}

#kakao_qr, #toss_qr, #paypal_qr{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

#kakao, #toss, #paypal {
    display: none;
}