body {
    margin: 0px;
    padding-top: 60px;
}

.wrap_1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/main/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column
}

.text_1 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    transition: .2s;
}

.text_2 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 15px 0px 15px;
}

@keyframes change_text_1 {
    from{
        color: black
    } to{
        color: rgba(0, 0, 0, 0);
    }
}

@keyframes change_text_2 {
    from{
        color: rgba(0, 0, 0, 0);
    } to{
        color: black
    }
}


.link_wrap {
    background-color: #fff;
    padding: 10px 13px 10px 20px;
    border: 1.5px solid #bbb;
    margin-top: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    height: 40px;
}

.link_1 {
    font-size: 20px;
    font-weight: 900;
}

.link_2 {
    font-size: 20px;
    font-weight: lighter;
    color: #bbb;
}

.link_button {
    background-color: rgb(12, 98, 218);
    border: 0px;
    border-radius: 100px;
    color: #fff;
    height: 40px;
    padding: 0px 15px 0px 15px;
    margin-left: 30px;
}

.link_button:hover {
    cursor: pointer;
}

.wrap_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10vh;
}

.info_title {
    font-weight: bold;
    background: linear-gradient(to right, #4568DC, #B06AB3);
    -webkit-background-clip: text;
    color: transparent
}

.info_span {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
    line-height: 40px;
}


.wrap_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(6, 120, 233, 0.123);
    height: 90vh;
}

.list_title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: rgb(6, 120, 233);
}

.list_span {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin: 20px 0px 40px 0px;
    text-align: center;
    line-height: 40px;
    color: rgba(6, 120, 233, 0.67);
}

.wrap_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: rgba(239, 70, 241, 0.123);
    height: 90vh;
}

.list_title2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: rgb(238, 70, 241);
}

.list_span2 {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin: 20px 0px 40px 0px;
    text-align: center;
    line-height: 40px;
    color: rgb(238, 70, 241);
}